<h2 mat-dialog-title>Créer une tâche</h2>
<mat-dialog-content>
  <form [formGroup]="taskForm">

    <mat-form-field appearance="fill" style="width: 100%;" >
      <mat-label>Titre</mat-label>
      <input matInput formControlName="label" required>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;" >
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  </form>

</mat-dialog-content>
<mat-dialog-actions >
  <button mat-flat-button (click)="closeDialog()">Annuler</button>
  <button mat-flat-button color="primary" (click)="submitForm()">Créer</button>
</mat-dialog-actions>